/* CSS стили для logo_place_header */

.logo_place_header {
  background-image: url(../../../images/logo_place_header.svg); /* задаем фоновое изображение для элемента */
  background-repeat: no-repeat; /* убираем повторение фона */
  background-size: contain; /* масштабируем изображение */
  position: absolute; /* включаем абсолютное позиционирование элемента */
  top: 60px; /* задаем вертикальную позицию позиционируемого элемента */
  left: 128px; /* задаем горизонтальную позицию позиционируемого элемента */
  z-index: 2; /* задаем положение позиционированного элемента по оси z */
}

