/* CSS стили для секции mission__triangle */

.mission__triangle {
  background-color: #1f1f1f;
  background-image: url("../../../images/triangle.svg");
  background-repeat: no-repeat;
  background-size: cover; /* масштабируем фоновое изображение */
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  z-index: 1;
}
