/* CSS стили для секции sagan__book-container */

.sagan__book-container {
  margin: 0;
  display: flex;
  flex-direction: row; /* задаем направление, в соответствии с которым располагаются флекс элементы внутри контейнера */
}