/* CSS стили для секции sagan__buy-link */

.sagan__buy-link {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  text-decoration: none;
  color: #2f80ed;
}

.sagan__buy-link:hover {
  opacity: 0.33;
  transition: opacity 1s;
}
