/* CSS стили для секции bigbang */

.bigbang {
  margin: 0 auto;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url("../../images/bigbang.png");
  background-position: left bottom;
  background-repeat: no-repeat; /* убираем повтор фоновой картинки */
  background-size: contain; /* масштабируем фоновое изображение */
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
