/* CSS стили для секции bigbang__link */

.bigbang__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #ffffff;
}

.bigbang__link:hover {
  opacity: 0.33;
  transition: opacity 1s;
}
