@import url(../vendor/normalize.css);

@import url(../blocks/rotation/rotation.css);

/*page*/

@import url(../blocks/page/page.css);

/*logo*/

@import url(../blocks/logo/logo.css);

/*two-columns*/

@import url(../blocks/two-columns/two-columns.css);

/*table*/

@import url(../blocks/table/table.css);

/*cards*/

@import url(../blocks/cards/cards.css);

/*section-title*/

@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-title/_theme/section-title_theme_dark.css);

/*section-subtitle*/

@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/section-subtitle/_theme/section-subtitle_theme_dark.css);

/*header*/

@import url(../blocks/header/header.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/logo/_place/logo_place_header.css);

/*intro*/

@import url(../blocks/intro/intro.css);
@import url(../blocks/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/two-columns/__span-accent/two-columns__span-accent.css);

/*methods*/

@import url(../blocks/methods/methods.css);
@import url(../blocks/cards/__description/cards__description.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__title/cards__title.css);

/*media*/

@import url(../blocks/media/media.css);
@import url(../blocks/media/__iframe/media__iframe.css);
@import url(../blocks/media/__iframes/media__iframes.css);

/*gagarin*/

@import url(../blocks/gagarin/gagarin.css);

/*bigbang*/

@import url(../blocks/bigbang/bigbang.css);
@import url(../blocks/bigbang/__subtitle/bigbang__subtitle.css);
@import url(../blocks/bigbang/__title/bigbang__title.css);
@import url(../blocks/bigbang/__link/bigbang__link.css);

/*cosmos*/

@import url(../blocks/cosmos/cosmos.css);
@import url(../blocks/table/table.css);
@import url(../blocks/table/__cell/table__cell.css);
@import url(../blocks/table/__heading/table__heading.css);
@import url(../blocks/table/__text/table__text.css);
@import url(../blocks/table/_theme/table_theme_dark.css);
@import url(../blocks/table/__cell/_theme/table__cell_theme_dark.css);
@import url(../blocks/table/__heading/_theme/table__heading_theme_dark.css);
@import url(../blocks/table/__text/_theme/table__text_theme_dark.css);

/*sagan*/

@import url(../blocks/sagan/sagan.css);
@import url(../blocks/sagan/__author/sagan__author.css);
@import url(../blocks/sagan/__book-container/sagan__book-container.css);
@import url(../blocks/sagan/__book-pic/sagan__book-pic.css);
@import url(../blocks/sagan/__buy-link/sagan__buy-link.css);
@import url(../blocks/sagan/__container/sagan__container.css);
@import url(../blocks/sagan/__quote/sagan__quote.css);
@import url(../blocks/sagan/__quote-author/sagan__quote-author.css);
@import url(../blocks/sagan/__quote-author-subline/sagan__quote-author-subline.css);
@import url(../blocks/sagan/__title/sagan__title.css);

/*mission*/

@import url(../blocks/mission/mission.css);
@import url(../blocks/mission/__triangle/mission__triangle.css);
@import url(../blocks/agencies/agencies.css);
@import url(../blocks/agencies/__link/agencies__link.css);
@import url(../blocks/agencies/__logo/agencies__logo.css);
@import url(../blocks/agencies/__logo-zone/agencies__logo-zone.css);

/*footer*/

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__column-heading/footer__column-heading.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__column/_content/footer__column_content_copyright.css);
@import url(../blocks/footer/__column/_content/footer__column_content_info.css);
@import url(../blocks/footer/__column/_content/footer__column_content_social.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__column-link/footer__column-link.css);
@import url(../blocks/logo/_place/logo_place_footer.css);
